@use '../../assets/styles/variables' as *;

.input {
	padding: 15px;
	border: none;
  border-radius: 10px;
  outline: none;
  outline-offset: 0;
	background-color: $color-surface;
  color: inherit;
}
