@use '../../../assets/styles/variables' as *;

.sidebarItems {
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--color-text);
  text-decoration: none;
  transition: background 0.2s;
  position: relative;

  &::before {
    content: ' ';
    height: 1px;
    width: 100%;
    background: var(--color-border);
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: ' ';
    height: 1px;
    width: 100%;
    background: var(--color-border);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &:hover {
    background-color: var(--select-color);
    color: #fff;
  }

  &.active {
    background-color: var(--select-color);
    color: #fff;
  }

  a {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    color: inherit;
    text-decoration: none;

    svg {
      margin-right: 10px;
    }
  }
}