@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.chat {
	flex: 1;
	display: flex;
	flex-direction: column;

	::-webkit-scrollbar { width: 3px; height: 3px;}
	::-webkit-scrollbar-track {background-color: transparent;}

	.messageForm {
		display: flex;
		gap: 10px;
		border-top: 1px solid $color-border;
		padding: 8px;
		align-items: center;


		input {
			flex: 1;
			font-size: 1rem;
		}

		.messageButton {
			padding: 10px 20px;
			border: 1px solid $color-dark-grey;
			background: $color-dark-grey;
		}

		.messageButton:hover {
			background: transparent;
		}

		.selectFileLabel{
			cursor: pointer;
		}

		.selectFile{
			display: none;
		}
	}
	.previewPopup {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	.previewImage {
		max-width: 300px;
		max-height: 300px;
		object-fit: contain;
		border-radius: 5px;
	}

	.popupInput {
		width: 100%;
		margin-top: 10px;
	}
	
	.chatHeader{
		display: flex;
		align-items: center;
		gap: 10px;
		position: relative;
		padding: 13px;
		border-bottom: 1px solid $color-border;

		&::after {
			content: ' ';
			height: 1px;
			width: 100%;
			background: $color-border;
			position: absolute;
			top: 0;
			left: 0;
		}

		.status{
			color: $color-muted;
		}

		.online{
			color: $color-success;
		}
	}
}
