@use '../../../../assets/styles/variables' as *;

.contactItems{
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background .3s;
  position: relative;

  &::before {
    content: ' ';
    height: 1px;
    width: 100%;
    background: $color-border;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: ' ';
    height: 1px;
    width: 100%;
    background: $color-border;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .contactHeading{
    margin-bottom: 5px;
  }

  .status{
    color: $color-muted;

  }
  
  .Active{
    color: $color-success;
  }

  &:hover {
    background: #2a2a3d;
  }
}