@use '../../../../assets/styles/variables.scss' as *;

.message {
  display: block;
  padding: 10px 15px;
  margin: 5px 0;
  background-color: #2a2a3d;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: var(--shadow-md);
}

.ownMessage {
  margin-left: auto; // Прижимает сообщение к правому краю
  background-color: var(--color-surface); // Цвет для твоих сообщений (можно настроить)
}

.interlocutorMessage {
  margin-right: auto; // Прижимает сообщение к левому краю
  background-color: var(--color-surface); // Цвет для сообщений собеседника (можно настроить)
}

.text {
  display: block;
  word-wrap: break-word;
}

.imageContainer {
  margin-top: 5px;
  max-width: 100%;
}

.image {
  max-width: 200px; // Ограничиваем размер изображения
  max-height: 200px;
  border-radius: 5px;
  object-fit: cover; // Для корректного отображения пропорций
}

.fileLink {
  display: flex;
  align-items: center;
  gap: 10px; // Если есть переменная для отступов
  margin-top: 5px;
  padding: 5px 10px;
  background-color: rgba($color-white, 0.1); // Если есть переменная для белого цвета
  border-radius: 4px; // Если есть переменная для радиуса
  text-decoration: none;
  color: var(--color-text); // Цвет текста
  font-size: 20px; // Размер шрифта
  transition: background-color 0.2s ease;

  &:hover {
    background: rgba($color-secondary, 0.2);
  }
}

.fileIcon {
  font-size: 18px;
  color: var(--color-text);

  &:hover{
    color: $color-secondary;
  }
}

.downloadIcon {
  font-size: 16px;
  color: var(--color-text);

  &:hover{
    color: $color-secondary;
  }
}