@use '../../../../assets/styles/variables.scss' as *;

.message {
  display: block;
  padding: 10px 15px;
  margin: 5px 0;
  background-color: #2a2a3d;
  border-radius: 10px;
  max-width: 300px;
}

.ownMessage {
  margin-left: auto; // Прижимает сообщение к правому краю
  background-color: #3d5c3d; // Цвет для твоих сообщений (можно настроить)
}

.interlocutorMessage {
  margin-right: auto; // Прижимает сообщение к левому краю
  background-color: #2a3d2a; // Цвет для сообщений собеседника (можно настроить)
}

.text {
  display: block;
  word-wrap: break-word;
}