@use '../../assets/styles/variables' as *;

.sidebar {
  width: 220px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 40px;
  border-right: 1px solid  $color-border;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: column;
}

.logout {
  margin-top: auto; 

  a{

    &:hover {
      color: $color-error;
    }
  }
}

