@use '../../../assets/styles/variables' as *;

.contactList{
  width: 300px;
  background: transparent;
  overflow-y: auto;
  
  ::-webkit-scrollbar { width: 3px; height: 3px;}
	::-webkit-scrollbar-track {background-color: transparent;}

  h2{
    padding-bottom: 20px;
  }
}