@use '../../../assets/styles/variables' as *;

.contactList{
  width: 300px;
  background: transparent;
  border-right: 1px solid $color-border;
  height: 100%;

  h2{
    font-size: $font-size-h2;
    padding-bottom: 20px;
  }
}